<div class="row">
    <div class="mb-3">
        <label class="form-label">RA</label>
        <input [(ngModel)]="ra" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input [(ngModel)]="nome" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input [(ngModel)]="email" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Celular</label>
        <input [(ngModel)]="celular" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" (click)="cadastrarAluno()">Cadastrar</button>
    </div>
    <div *ngIf="alunos.length > 0">
        <h2>Alunos Cadastrados</h2>
        <ul>
          <li *ngFor="let aluno of alunos">
            <p>RA: {{ aluno.ra }}</p>
            <p>Nome: {{ aluno.nome }}</p>
            <p>E-mail: {{ aluno.email }}</p>
            <p>Celular: {{ aluno.celular }}</p>
          </li>
        </ul>
    </div>
</div>
